::-moz-selection {
  color: #0f172a;
  background: rgba(56, 189, 248, 0.4);
  border-radius: 3px;
}

::selection {
  color: #0f172a;
  background: rgba(56, 189, 248, 0.4);
  border-radius: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-highlight {
  color: #38bdf8;
}
